{% extends "::base.html.twig" %}

{% block title %}AppBundle:Person:newPerson{% endblock %}

{% block body %}
<h1>Welcome to the Person:newPerson page</h1>

{{ form_start(form,{'attr':{'class':'form-group jumbotron'} }) }}
{{ form_widget(form.city,{'attr':{'class':'form-control','placeholder':'Miasto'} }) }}
{{ form_widget(form.street,{'attr':{'class':'form-control','placeholder':'Ulica'} }) }}
{{ form_widget(form.number1,{'attr':{'class':'form-control','placeholder':'NUmer 1'} }) }}
{{ form_widget(form.number2,{'attr':{'class':'form-control','placeholder':'Numer 2'} }) }}
<br>
{{ form_widget(form.save,{'attr':{'class':'btn btn-success btn-xs'} }) }}
{{ form_end(form) }}

{% endblock %}
