{% extends "::base.html.twig" %}

{% block title %}AppBundle:Person:newPerson{% endblock %}

{% block body %}
<h1>Welcome to the Person:newPerson page</h1>

{{ form_start(form,{'attr':{'class':'form-group jumbotron'} }) }}
{{ form_widget(form.name,{'attr':{'class':'form-control','placeholder':'Podaj imię'} }) }}
{{ form_widget(form.surname,{'attr':{'class':'form-control','placeholder':'Podaj nazwisko'} }) }}
<br>
{{ form_widget(form.save,{'attr':{'class':'btn btn-success btn-xs'} }) }}
{{ form_end(form) }}

<a class="btn btn-primary btn-xs" href="/showAll">Wróć do listy</a>

{% endblock %}
