{% extends "::base.html.twig" %}

{% block title %}Lista wszystkich osób{% endblock %}

{% block body %}
<div class="jumbotron">
    <h1>Lista wszystkich osób</h1>

    <a class="btn btn-info btn-xs" href="/">Strona główna</a>
    <a class="btn btn-info btn-xs" href="/newPerson">Dodaj osobę</a>
    <a class="btn btn-info btn-xs" href="/newAddres">Dodaj adres</a>
    <a class="btn btn-info btn-xs" href="/addEmail">Dodaj email</a>
    <a class="btn btn-info btn-xs" href="/addPhone">Dodaj telefon</a>
</div>
    {% for person in persons %}

        <p><b>{{ person.name }}
                {{ person.surname }} {{ person.id }}</b></p>



        <a class="btn btn-primary btn-xs" href="/show/{{ person.id }}">Szczegóły</a>
        <a class="btn btn-primary btn-xs" href="/edit/{{ person.id }}">Zmień</a>
        <a class="btn btn-primary btn-xs" href="/delete/{{ person.id }}">Usuń</a>
        <hr>

    {% endfor %}



{% endblock %}
